﻿@model GAMongo.Framework.Mvc.Models.DeleteConfirmationModel
<form asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" method="post" asp-route-id="@Model.Id">
    <antiforgery-token />
    <div>
        <p>
            @T("Admin.Common.DeleteConfirmation")
        </p>
        <div class="form-actions">
            <span id="" class="k-button" onclick="$('#@Model.WindowId').data('kendoWindow').close();">@T("Admin.Common.NoCancel")</span>
            <input type="submit" class="k-button" value="@T("Admin.Common.Delete")" />
        </div>
    </div>
</form>